.site-wrapper{
	box-shadow: none;
	border-bottom: 1px solid #cdcdcd;
}
.zero-pixel .site-wrapper{
	border-bottom: none;
}
/*.site-left{
	padding: 0 7.5%;
}*/
.site-left,.site-right{
	text-align: left;
	padding: 0 7.5%;
}
/* normal form -------------------------------------------------------------------------------------------------*/
.cover-px h2, .cover-px p,.cover-px ul li{
	text-shadow: none;
	text-align: left;
	color: #000;
}
.cover-px ul{
	list-style: none;
	margin: 10px 0;
	padding-left: 20px;
}
.cover-px ul li{
	background-image: url(../images/list.jpg);
	background-position: left 3px;
	background-repeat: no-repeat;
	padding-left: 40px;
	font: 20px/30px ralewayregular;
}
.cover-px ul li a{
	color: #000;
}
.cover-px h2{
	font: 61px ralewayregular;
	margin-bottom: 30px;
}
.cover-px p.title{
	font: 38px ralewayregular;
	margin-bottom: 10px;
}
.cover-px p.summary{
	font: 20px/30px ralewayregular;
}
.cover-px h2 span, .cover-px p span{
	font-family: ralewaybold;
}
/* end normal form */
/* Fixing FIREFOX */
@-moz-document url-prefix() { 
	/* normal form FIREFOX-------------------------------------------------------------------------------------------------*/
	.cover-px ul li{
		font: 18px/22px ralewayregular;

	}
	.cover-px h2{
		font: 41px ralewayregular;
		margin-bottom: 20px;
	}
	.cover-px p.title{
		font: 28px ralewayregular;
		margin-bottom: 10px;
	}
	.cover-px p.summary{
		font: 18px/22px ralewayregular;
	}
	.cover-px h2 span, .cover-px p span{
		font-family: ralewaybold;
	}
	.zero-pixel	.cover-px p span{
		font-family: pacificoregular;
	}
	/* end normal form */
}
/* normal form for IE11-------------------------------------------------------------------------------------------------*/
_:-ms-fullscreen, :root .cover-px ul li{
	font: 18px/22px ralewayregular;

}
_:-ms-fullscreen, :root .cover-px h2{
	font: 41px ralewayregular;
	margin-bottom: 20px;
}
_:-ms-fullscreen, :root .cover-px p.title{
	font: 28px ralewayregular;
	margin-bottom: 10px;
}
_:-ms-fullscreen, :root .cover-px p.summary{
	font: 18px/22px ralewayregular;
}
_:-ms-fullscreen, :root .cover-px h2 span, .cover-px p span{
	font-family: ralewaybold;
}
_:-ms-fullscreen, :root .zero-pixel	.cover-px p span{
	font-family: pacificoregular;
}
/* end normal form */
/* middle form -------------------------------------------------------------------------------------------------*/
.cover-px .cover-middle{
	padding: 3% 10%;
	text-align: center;
}
.cover-px .cover-middle h2, .cover-px .cover-middle p{
	text-align: center;
}
.cover-px .cover-middle h2{
	margin-bottom: 0;
}
/* end middle form */
/* about ---------------------------------------------------------------------------------*/
.about .mastnav{
	background-color: #fff;
}
.about .masthead-brand{
	  background-image: url(../images/logo2.png);
}
.about .masthead-nav > li > a{
	color: #000;
	text-shadow: none;
}
.about .pixel-wrapper{
}
.about .pixel-02{
	background:  url(../photos/about-px2-n1.jpg) center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.about .pixel-03{
	background:  url(../photos/about-px3-n.jpg) 30% center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.about .pixel-01{
	background: #fff url(../photos/social-about-px1-n.png) 25% center no-repeat;
	-webkit-background-size: 25%;
	background-size: 25%;}
.about .cover-container .inner h2{
	font: 61px ralewayregular;
	text-align: center;
	color: #000;
	margin-top: -30%;
}
@-moz-document url-prefix() { 
	.about .cover-container .inner h2{
		font: 41px ralewayregular;
		margin-top: -20%;
	}
}
_:-ms-fullscreen, :root .about .cover-container .inner h2 {
	font: 41px ralewayregular;
	margin-top: -20%;
}
/*.about .cover-container .inner h2,.about .cover-container .inner p{
	text-align: center;
	color: #000;
}
.about .cover-container .inner p.summary{
	font: 28.5px ralewayregular;		
}
.about .cover-container .inner p.summary{
	font: 15px ralewayregular;
}*/
.about .cover-heading span{
	color: #000 !important;
}
/* end about */
/* marketing -------------------------------------------------------------------------------------------------*/
.marketing .masthead-brand{
	  background-image: url(../images/logo2-w.png);
}
.marketing .pixel-01, .design .pixel-02{
	background: #fff url();
	height: auto !important;
}
.marketing .pixel-02,
.marketing .pixel-03,
.marketing .pixel-04 {
	height: auto !important;
}
.marketing .cover-px .cover-middle h2{
	margin-top: 40px;
}
.marketing .pixel-01,.marketing .pixel-02{
	background: #fff url() 0 0 no-repeat;
}
.marketing .site-wrapper{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
  	box-shadow: none;
}
.marketing .pixel-02 .site-wrapper,
.marketing .pixel-03 .site-wrapper{
	padding: 7% 0;
}
.marketing .pixel-04 .site-wrapper{
	padding: 7% 0 0;
}
.marketing .pixel-02{
	background: #fff url() 0 0 no-repeat;
}
.marketing .pixel-02{
	background: #fff url(../photos/marketing-px-px2-n.png) 75% center no-repeat;
  	background-size: 30%;
}
.marketing .pixel-02 h2{
	margin-top: 20%;
}
.marketing .pixel-03{
	background: #fff url(../photos/marketing-px-px3-n.jpg) 15% center no-repeat;
  	-webkit-background-size: 40%;
  	background-size: 40%;
}
.marketing .pixel-04{
	background: #fff url(../photos/marketing-px-px4.jpg) 65% 20% no-repeat;
	-webkit-background-size: 25%;
	background-size: 25%;
}
.marketing .pixel-04 .cover-middle{
	padding-top: 0;
}
.design .zero-pixel .site-left p,
.marketing .zero-pixel .site-left p {
	margin-top: 20px;
	font: 35px/40px ralewayregular;
}
.marketing .zero-pixel .site-left p {
	margin-top: 26px;
}

/* design -------------------------------------------------------------------------------------------------*/
.design .masthead-brand{
	  background-image: url(../images/logo2-w.png);
}
.design .pixel-wrapper{
	background: url(../photos/design-px.jpg) center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.design .zero-pixel .site-right{
	/*background: url(../photos/design-px-px1.png) center center no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	height: 670px;*/
	padding: 0;
}
.design .zero-pixel .site-right img{
	width: 100%;
}
.design .zero-pixel .site-left {
}
.design .zero-pixel .site-left h2,.marketing .zero-pixel .site-left h2 {
	font: 80px/80px "pacificoregular";
}
.design .zero-pixel .site-left h2{
	margin-top: 10%;
}
.design .pixel-01{
	background: url(../photos/design-px-px2.jpg) center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: auto !important;
}
.design .pixel-01 h2{
	margin-top: -10px;
}
/* end design */
/* contact -------------------------------------------------------------------------------------------------*/
.ct-height{
	height: initial !important;
}
_:-ms-fullscreen, :root .ct-height{ 
	height: auto !important;
}
.contact .pj-btn-px{
	cursor: pointer;
}
.contact .cover-heading{
	font: 80px/80px pacificoregular;
	color: #fff;
	text-transform: capitalize;
	margin: 0 0 25px;
	position: relative;
}
.contact .cover-container .inner h2{
	font: 80px/80px pacificoregular;
	margin-bottom: 20px;
}
.contact .masthead-brand {
  background-image: url(../images/logo2-w.png);
}
.contact .pixel-wrapper{}
.contact ul.ul-contact{
	text-align: center;
	margin: 20px 0 0;
	padding: 0;
	width: 100%;
	font-size: 0;
}
.contact ul.ul-contact li.contact-item{
	width: 300px;
	display: inline-block;
	margin: 0 10px 20px;
	vertical-align: top;
	list-style: none;
	zoom: 1;
}
.contact ul.ul-contact .contact-item .contact-image {
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.contact ul.ul-contact .contact-item .contact-image .img.shake {}
.contact  ul.ul-contact .contact-item .contact-image .img.business {}
.contact  ul.ul-contact .contact-item .contact-image .img.employment {}
.contact ul.ul-contact .contact-item .contact-image .img {
  display: block;
  height: 64px;
  width: 100%;
}
.contact ul.ul-contact .contact-item .contact-text {
  font-family: ralewayregular;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 21px;
  line-height: 2.1rem;
}
.contact ul.ul-contact .contact-item .contact-text .tit {
  font: 19px/19px ralewaysemibold;
  margin-bottom: 7px;
}
.contact ul.ul-contact .contact-item .contact-text p {
  font: 14px/19px ralewaysemibold;
}
.contact  ul.ul-contact .contact-item .contact-text a {
  color: #8ACC43;
  text-decoration: none;
}
 #contact-form {
  color: #8ACC43;
  width: 480px;
  margin: 10px auto 0;
  position: relative;
  z-index: 0;
  top: 10px;
}
.active#contact-form{
	display: inline-block !important;

	-webkit-transition: 1s all ease;
	-o-transition: 1s all ease;
	transition: 1s all ease;
}
#contact-form div input {
  font: 13px/13px ralewaybold;
  background: 0 0;
  border: solid 2px #FFF;
  width: 219px;
  margin: 0 0 20px;
  color: #8ACC43;
  padding: 17px 6px;
  border-radius: 3px;
  height: 23px;
}
@-moz-document url-prefix() { 
	#contact-form div input {
		box-sizing: content-box;
		padding: 8px 0;
		text-indent: 10%;
	}
}
_:-ms-fullscreen, :root #contact-form div input{ 
	box-sizing: content-box;
	padding: 8px 0;
	text-indent: 10%;
	line-height: 1; 
}
#contact-form div input::-webkit-input-placeholder {
   color: #8ACC43;
}

#contact-form div input:-moz-placeholder { /* Firefox 18- */
   color: #8ACC43;  
}

#contact-form div input::-moz-placeholder {  /* Firefox 19+ */
   color: #8ACC43;  
}

#contact-form div input:-ms-input-placeholder {  
   color: #8ACC43;  
}

#contact-form div textarea {
  font: 13px/13px ralewaybold;
  background: 0 0;
  border: solid 2px #FFF;
  width: 201px;
  color: #8ACC43;
  padding: 15px;
  height: 212px;
  border-radius: 3px;
  resize: none;
  overflow: auto;
  margin: 0;
}
#contact-form div textarea::-webkit-input-placeholder {
   color: #8ACC43;
}

#contact-form div textarea:-moz-placeholder { /* Firefox 18- */
   color: #8ACC43;  
}

#contact-form div textarea::-moz-placeholder {  /* Firefox 19+ */
   color: #8ACC43;  
}

#contact-form div textarea:-ms-input-placeholder {  
   color: #8ACC43;  
}
#contact-form div input#conactSubmit {
  height: 45px;
}
@-moz-document url-prefix() { 
	#contact-form div input#conactSubmit {
		box-sizing: content-box;
		height: 15px;
		text-indent: 0%;
	}
}
_:-ms-fullscreen, :root #contact-form div input#conactSubmit{ 
	box-sizing: content-box;
	height: 15px;
	text-indent: 0%;
}
#contact-form div.fl_left {
  float: left;
  width: 235px;
}
#contact-form div.fl_right {
  float: right;
  width: 235px;
}
#show-contact-form {
  width: 190px;
  font: 19px/19px ralewaysemibold;
  color: #fff;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  margin-top: 55px;
  background: url(../images/contact-us.png) no-repeat bottom;
  padding: 0 0 30px;
  zoom: 1;
  cursor: pointer;
}
#contact-form .submit_btn {
  float: left;
  width: 100%;
  clear: both;
}	
/* end contact */
/* latestwork -------------------------------------------------------------------------------------------------*/
.lastestwork .masthead-nav > li > a{
	color: #000;
	text-shadow: none;
}
.lastestwork .zero-pixel{
	height: initial !important;
}
.lastestwork .site-wrapper{
	background: #e5f1ca;
}
.lastestwork #works-wrap {
	padding: 71px 0 0;
	background: #e5f1ca;
}
#works-wrap #works {
	width: 70%;
	margin: 0 auto;
	position: relative;
}

.lastestwork #px-nav{
	background-color: #fff;
}
.lastestwork .masthead-brand{
	background-image: url(../images/logo2.png);
}
.lastestwork .mastnav{
	background-color: #fff;
}
.lastestwork .zero-pixel .site-wrapper #works .cover-heading {
    font: 60px/60px "pacificoregular";
    color: #000;
    margin: 60px 0;
}
#works a,#works h2,#works p{
	text-shadow: none;
}
#works ul{
	width: 100%;
	float: left;
	/*padding: 0;*/
}
#works ul li{
	/*width: 25%;
	float: left;*/
	list-style-type: none;
	/*padding: 0 10px;*/
} 
#works ul li article{
	padding: 12px 0 0 0;
	border-radius: 8px;
	background-color: #fff;
	border: 1px solid #cdcdcd;
	margin-bottom: 20px;
}
#works ul li article:hover{
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);

	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#works ul li article header p.title{
	font: 16px/36px ralewaybold;
	text-align: center;
	text-transform: uppercase;
	color: #666;
	letter-spacing: 1px;
}
#works ul li article .wrapper-img{
	
}
#works ul li article .wrapper-img a{
	
}
#works ul li article .wrapper-img a img{
	width: 100%;
}
#works ul li article footer{
	
}
#works ul li article footer > a{
	margin: 10px 24px;
	display: block;
	width: 130px;
	padding: 9px 10px;
	font: 13px/14px ralewaybold;
	background-color: #8acc43;
	border-radius: 5px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#works ul li article footer .copyright{
	border-top: 1px solid #cdcdcd;
}
#works ul li article footer .copyright a{
	background: url(../photos/latest-work/24.png) 0 0 no-repeat;
	height: 45px;
	width: 45px;
	display: block;
	margin: 10px 14px 10px 24px;
	float: left;
}
#works ul li article footer .copyright p{
	text-transform: uppercase;
	font: 13px/13px ralewaybold;
	color: #666;
	margin-top: 24px;
	float: left;
}
.zoom-wrapper{
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top: 10%;
	z-index: 99999;
	display: none;
}
.zoom-wrapper ul{
	width: 100%;
	padding-left: 0
}
.zoom-wrapper ul li{
	width: 100% ;
	display: none;
	overflow-y: hidden;
	list-style-type: none;
}
.zoom-wrapper ul li img{
	width: 100%;
}
.ablack{
	background-color: #000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	opacity: 0.9;
	z-index: 9999;
}
.portfolio-btn{
	display: none;
	position: fixed;
	right: 20px;
	top: 20px;
	color: #fff;
	font-size: 60px;
	cursor: pointer;
	z-index: 99999;
}

/* Masonry UI */
.masonry {
    padding: 0 10px;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: 1em;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
}

.masonry .item {
    display: inline-block;
    padding: 0;
    width: 98%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
/* end sub-work ------------------------------------------------------------------------------------------------- */
/* end latestwork */
/* partnership -------------------------------------------------------------------------------------------------*/
.partnership .pixel-01,.partnership .pixel-02{
	height: initial !important;
}
.partnership .site-wrapper{
	padding: 100px 0;
}
.partnership .masthead-brand{
	background-image: url(../images/logo2-w.png);
}
.partnership .cover-heading span{
	color: #fff;
}
.partnership .cover-container .inner h2 {
	margin-top: 18%;
}
.partnership .pixel-01 h2,.partnership .pixel-02 h2{
	margin-top: -10%;
}
.partnership .site-wrapper-inner .cover-container .inner p{
	font: 38px ralewayregular;
	margin-bottom: 10px;
	color: #fff;
}
.partnership .site-wrapper-inner .cover-container .inner p span{
	font: 38px ralewaybold;
}
.partnership .pixel-wrapper{
}
.partnership .pixel-01{
	background: #fff url(../photos/partnership-px-px1.png) 20% 40% no-repeat;
	-webkit-background-size: 20%;
	background-size: 20%;
}
.partnership .pixel-02{
	background: #fff url(../photos/partnership-px-px2.jpg) 70% 35% no-repeat;
	-webkit-background-size: 80%;
	background-size: 80%;
}
.partnership .thumbnail a>img{
	margin-top: 24px;
}
/* end partnership */
/* privacy & term -------------------------------------------------------------------------------------------------*/
.privacy .masthead-brand, .term .masthead-brand {
	  background-image: url(../images/logo2.png);
}
.privacy .mastnav, .term .mastnav{
	background-color: #fff;
}
.privacy .cover-container, .term .cover-container{
	margin-top: 100px;
	margin-bottom: 100px;
}
.privacy .site-wrapper, .term .site-wrapper{
	background-color: #000;
}
.term .masthead-nav > li > a,.privacy .masthead-nav > li > a{
	color: #000;
	text-shadow: none;
}
.term {
	background-color: #fff;
}
.privacy .zero-pixel, .term .zero-pixel{
	height: initial !important;
}
.privacy .pixel-wrapper{
	background: #fff url() center center no-repeat;
}
.privacy .pixel-wrapper p, .privacy .pixel-wrapper h2,.term .pixel-wrapper p, .term .pixel-wrapper h2{
	color: #fff !important;
	text-shadow: none;
	text-align: left;
}
.term .pixel-wrapper h2,.privacy .pixel-wrapper h2 {
	font: 38px ralewaysemibold;
}
.privacy .pixel-wrapper p, .term .pixel-wrapper p{
	
}
.term .pixel-wrapper{
	background: none;
}
.privacy .pixel-wrapper h2, .term .pixel-wrapper h2{
	margin-top: 166px;
}
/* end privacy & term */
/* thank you */
.thankyou .pixel-wrapper{
	background: url(../photos/thankyou.jpg) center center no-repeat;
	-webkit-background-size: cover;
	width: 100%;
	height: 100%;
	padding-top: 0 !important;
}
/* end thank you */

/* price */
.price ul{
	padding-left: 0;
}
.price .site-wrapper{
	border-bottom: none;
}
.price .site-left, .price .site-right {
	padding: 0 3%;
}
.price .masthead-brand{
	background-image: url('../images/logo2.png');
}
.price .masthead-nav > li > a{
	color: #333;
	text-shadow: none;
}
.price .zero-pixel .site-left{
	color: #333;
	text-shadow: none;
}
.price .zero-pixel .site-wrapper{
	border-bottom: none;
	background-color: #fff;
}
.center-vertical{
	margin-top: 10%;
}
.center-vertical .bot-down{

}
.price .zero-pixel h1{
	color: #333;
	text-shadow: none;
	font: 80px/80px pacificoregular;
}
.price .zero-pixel .site-left p {
    margin-top: 30px;
    font: 35px/40px ralewayregular;
}
.price .zero-pixel .site-left ul li {
    background-image: url(../images/list.jpg);
    background-position: left 5px;
    background-repeat: no-repeat;
    padding-left: 40px;
    font: 20px/30px ralewayregular;
    list-style-type: none;
}
.price .cover-container{
	width: 65%;
	margin: 0 auto;
	position: relative;
}
.price .cover-px .inner{
	width: 100%;
	position: relative;
	margin-top: 10%;
}
.price .zero-pixel{
    background: url(../images/price/bg_top.jpg) center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.price .pixel-01 {
    background: url(../images/price/bg_pricepage_blue.jpg) center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    padding-bottom: 60px;
}
.price .item-price{
	width: 32.5%;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	float: left;
	background-color: #fff;
}
.price .item-price:first-child{
	
}
.price .item-price:nth-child(2){
	-webkit-box-shadow:0 0 20px rgba(0, 0, 0, 0.7);
	-moz-box-shadow:0 0 20px rgba(0, 0, 0, 0.7);
	box-shadow:0 0 20px rgba(0, 0, 0, 0.7);
	z-index: 1;
	margin-top: -20px;
}
.price .item-price:last-child{
	z-index: 2;
}
.price .item-price h2{
	font: 24px/30px ralewaybold;
	text-align: center;
	margin-bottom: 0;
	padding: 14px 0;
	color: #666;
	background-color: #e9e9e9;
}
.price .item-price .title{
	position: relative;
	height: 220px;
	width: 100%;
}
.price .item-price .title .title-price-wrapper{
	position: absolute;
	bottom: -80px;
	width: 100%;
	padding: 8px 0;
}
.price .item-price .title p{
	width: 100%;
	margin: 0;
	color: #000;
	text-align: center;
}

.price .item-price .title p.bigger{
	font: 30px/36px san_francisco_displaybold;	
}
.price .item-price .title p.smaller{
	font: 16px/20px ralewaysemibold;
}
.price .item-price .title span{
	font: 20px/30px san_francisco_displaybold;
}
.price .item-price .title .little{
	color: #000 !important;
	/*position: absolute;*/
}
.price .item-price:nth-child(1) .title span{
	left: 38%;
}
.price .item-price:nth-child(2) .title span{
	left: 38%;
}
.price .item-price:nth-child(3) .title span{
	left: 31%;
}
.price .item-price .title{
	background-color: #fff;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: 70%;
	background-size: 70%;
}
.price .item-price .title.wp{}
.price .item-price .title.cd{
	-webkit-background-size: cover;
	background-size: cover;
}
.price .item-price .title.seo{}
.price .item-price .title:after{
	display: block;
	content: '';
	width: 0;
	height: 0;
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	border-top: 14px solid #333;
	position: absolute;
	left: calc(50% - 14px);
	left: -webkit-calc(50% - 14px);
	left: -moz-calc(50% - 14px);
	left: -o-calc(50% - 14px);
	bottom: -14px;
}
.price .item-price ul{
	background-color: #fff;
	padding-left: 0;
	margin: 0 0;
	height: 370px;
	padding-top: 72px;
}
.price .item-price ul li{
	font: 18px/18px ralewaymedium;
	text-align: left;
	padding: 20px 0;
	text-indent: 30%;
	color: #666;
}
.price .item-price:nth-child(3) ul li{
	padding: 14px 0;
}
.price .item-price ul li {
	background-position: 20% center;
	background-repeat: no-repeat;
	background-color: #fff;
}
.price .item-price ul li.page{
	background-image: url(../images/price/1.png);
}
.price .item-price ul li.more-page{
	background-image: url(../images/price/2.png);
}
.price .item-price ul li.premiere{
	background-image: url(../images/price/3.png);
}
.price .item-price ul li.mobile{
	background-image: url(../images/price/4.png);
}
.price .item-price ul li.seo{
	background-image: url(../images/price/5.png);
}
.price .item-price ul li.min-mon{
	background-image: url(../images/price/6.png);
}
.price .item-price ul li.rseana{
	background-image: url(../images/price/7.png);
}
.price .item-price ul li.lb{
	background-image: url(../images/price/8.png);
}
.price .item-price ul li.bl{
	background-image: url(../images/price/9.png);
}
.price .item-price ul li.cb{
	background-image: url(../images/price/10.png);
}
.price .item-price ul li.sn{
	background-image: url(../images/price/11.png);
}
.price .item-price ul li.ce{
	background-image: url(../images/price/13.png);
}
.price .item-price .wrapper-btn{
	padding: 20px 24px;
	background-color: #e9e9e9;
}
.price .item-price .btn{
	text-transform: uppercase;
    padding: 10px 12px;
    border: 1px solid #cdcdcd;
    font: 16px/24px ralewaybold;
    text-shadow: none;
    color: #666;
    border-radius: 0;
    text-align: center;

    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.price .item-price .btn:hover{
	color: #fff;
	background-color: #333;
}
/* END price */

/* ===== Blog ===============================================================*/
.blog .zero-pixel{
	height: initial !important;
}
.blog .masthead-brand{
	background-image: url(../images/logo2.png);
}
.blog .mastnav{
	background-color: #fff;
}
.blog .masthead-nav > li > a{
	color: #333;
	text-shadow: none;
}

.blog .site-wrapper{
	background: #F4F4F4;
	margin-top: 66px;
}
.blog .site-wrapper h1{
	font: 60px/60px "pacificoregular";
    color: #000;
    margin: 60px 0;
}

.blog ul.masonry{
	text-align: left;
	color: #000;
	text-shadow:none;
	-webkit-text-shadow:none;
	-moz-text-shadow:none;
}
.blog ul.masonry li.item article{
	background-color: #fff;
	overflow: hidden;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 6px 6px 3px #c3c3c3;
	-moz-box-shadow: 6px 6px 3px #c3c3c3;
	box-shadow: 6px 6px 3px #c3c3c3;

}
.blog ul.masonry li.item .post a{
	color: #000;
}
.blog ul.masonry li.item .post a:hover{
	color: #337ab7;
}
.blog .post img{
	max-width: 100%;
	height: auto;
}
.blog .post .post-content{
	padding: 10px 20px 20px;
	text-align: left;
}
.blog .post .post-content header{
	margin: 0 0 15px;
}
.blog .post .post-content header h3{
	font-family: 'ralewaysemibold', Helvetica, sans-serif;
}
.blog ul.masonry li.item .post .post-excerpt a{
	background-image: none;
	background-color: #8ACC43;
	color: #fff;
	border: 0;
}

/* Pagination Blog */
ul.page-numbers {
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-text-shadow:none;
    -moz-text-shadow:none;
    text-shadow:none;
}

.page-numbers:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

ul.page-numbers li {
    display: block;
    float: left;
    margin: 0 4px 4px 0;
    text-align: center;
    background-color: #fff;
}

.page-numbers a,
.page-numbers span {
    line-height: 1.6em;
    display: block;
    padding: 8px 12px;
    height: auto;
    line-height: 18px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #5cb85c;
}

.page-numbers a span { padding: 0 }

.page-numbers a:hover,
.page-numbers.current,
.page-numbers.current:hover {
    color: #fff;
    background: #5cb85c;
    text-decoration: none;
}

.page-numbers:hover { text-decoration: none }

/* ===== Blog detail ======================================================= */
#primary {
    padding-top: 40px;
    padding-bottom: 40px;
    color: #000;
    -webkit-text-shadow:none;
    -moz-text-shadow:none;
    text-shadow:none;
}
#primary a{
	color: #000;
}
#primary a:hover{
	color:#007bb6;
}
#primary aside{
	text-align: left;
}

.blog .single-post a{
	color: #8acc43;
}
.blog .single-post img{
	max-width: 100%;
	height: auto;
}
.blog .single-post .post-content header{
	padding: 0 15px 20px;
	margin: 0;
}
.blog .single-post .post-content .post-image{
	padding: 0 15px;
}

.post, .widget, #comments {
    position: relative;
    border: 1px solid #ddd;
    background: #fff;
    margin: 0 0 40px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.single-post .post-body, #comments .comments-wrap {
    padding: 20px 15px;
    text-align: left;
}
#comments h3 {
    text-align: center;
}
#comments h4 {
    font-size: 1.3em;
}
#comments ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
#comments ol li {
    background: rgba(0,0,0,0.02);
    padding: 10px 20px;
    margin: 10px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.03);
}
#comments ol li ol.children {
    padding: 0;
    list-style: none;
    font-size: 0.96em;
}
#leave-comment {
    margin: 40px 0 0;
    padding: 20px 0 0;
    border-top: 1px solid #eee;
}
/* specific Wordpress comment styles */
#comments footer{
	background: none;
	color: inherit;
}
#comments footer a{
	color: inherit;	
}
#comments .comment-metadata{
	margin: 10px 0 0;
}

/* ===== FORMS ===== */
#leave-comment label{
	display: block;
	font-weight: 700;
}
#primary input[type="text"],
#primary input[type="email"],
#primary input[type="url"],
#primary input[type="password"],
#primary input[type="search"],
#primary textarea{
	color: #666;
	border: 1px solid #ccc;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 6px 12px;
}
#primary input[type="submit"],
#primary button[type="submit"]{
	display: inline-block;
	background-color: #8ACC43;
	color: #fff;
	padding: 6px 15px;
	margin-bottom: 0;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.33;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
#primary input[type="submit"]:hover,
#primary button[type="submit"]:hover{
	outline: none;
	border: none;
	background: #aaa;
}
/* === WIDGETS === */
.widget{
	padding: 20px;
}
.widget h4{
	margin: 0 0 10px;
	padding: 0 0 10px;
	border-bottom: 1px solid #ddd;
}
.widget ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.widget ul li{
	margin: 0 0 5px;
}
.widget ul li:hover{
	position: relative;
	left: 1px;
}
/* END blog detail */

/* ===== Archive Page =============================================================== */
.archive #primary .post-excerpt a,
.search #primary .post-excerpt a{
	border: 0;
	color: #fff;
	background-color: #8ACC43;
	background-image: none;
}